@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <p>@context.User.Identity.Name</p>
            <a href="logout">Log out</a>
        </Authorized>
        <NotAuthorized>
            @* TODO: прочитать 
        Вариант 1 - Автоматический редирект на авторизацию *@
            @* <RedirectToLogin></RedirectToLogin> *@
            @* Вариант 2 - Ручной редирект на авторизацию *@
            <a href="login?redirectUri=@Uri.EscapeDataString(Navigation.BaseUri)">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    
}
